.body{
  background-color: var(--white);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.link{
  display: flex;
justify-content: center;  
align-items: center;
margin-top: 4rem;
  color: var(--white);
  font-size: 2rem;
  background-color: var(--light-blue);
  width: 18rem;
  height: 6rem;
  border-radius: 1000px;
}
